/*--------------------------------------------------------------
# Upload Button
--------------------------------------------------------------*/
.upload_file {
    position: relative;
    overflow: hidden;
    /* font-size: 13px;
    color: #012970; */
  }
  #fileUploadSchoolId{
    position: absolute;
    overflow: hidden;
    font-size: 50px;
    opacity:0;
    right:0;
    top:0;
  }
  #fileUploadClearance{
    position: absolute;
    overflow: hidden;
    font-size: 50px;
    opacity:0;
    right:0;
    top:0;
  }
  #fileUploadCor{
    position: absolute;
    overflow: hidden;
    font-size: 50px;
    opacity:0;
    right:0;
    top:0;
  }
  #fileUploadGrade{
    position: absolute;
    overflow: hidden;
    font-size: 50px;
    opacity:0;
    right:0;
    top:0;
  }
  #fileUpload1{
    position: absolute;
    overflow: hidden;
    font-size: 50px;
    opacity:0;
    right:0;
    top:0;
  }
  #fileUpload2{
    position: absolute;
    overflow: hidden;
    font-size: 50px;
    opacity:0;
    right:0;
    top:0;
  }
  #fileUpload3{
    position: absolute;
    overflow: hidden;
    font-size: 50px;
    opacity:0;
    right:0;
    top:0;
  }
  #fileUpload4{
    position: absolute;
    overflow: hidden;
    font-size: 50px;
    opacity:0;
    right:0;
    top:0;
  }
  #fileUpload5{
    position: absolute;
    overflow: hidden;
    font-size: 50px;
    opacity:0;
    right:0;
    top:0;
  }
  #fileUpload6{
    position: absolute;
    overflow: hidden;
    font-size: 50px;
    opacity:0;
    right:0;
    top:0;
  }
  #fileUpload7{
    position: absolute;
    overflow: hidden;
    font-size: 50px;
    opacity:0;
    right:0;
    top:0;
  }
  #fileUpload8{
    position: absolute;
    overflow: hidden;
    font-size: 50px;
    opacity:0;
    right:0;
    top:0;
  }
  #fileUpload9{
    position: absolute;
    overflow: hidden;
    font-size: 50px;
    opacity:0;
    right:0;
    top:0;
  }
  #fileUpload10{
    position: absolute;
    overflow: hidden;
    font-size: 50px;
    opacity:0;
    right:0;
    top:0;
  }